---
layout: layout.liquid
title: "Planetary Playing Cards"
---

<h1>Planetary Playing Cards</h1>
<p>Explore the solar system through our unique collection of planetary cards.</p>

<div class="cards">
    {% for planet in collections.planets %}
        {% include "planet-card.liquid" with planet.data %}
    {% endfor %}
</div>
